@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Marathi:ital@0;1&family=Yatra+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes drawCircle {
  from {
    stroke-dashoffset: 163;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes drawTick {
  from {
    stroke-dashoffset: 60;
  }
  to {
    stroke-dashoffset: 0;
  }
}

